[test]
coverage = true
coverageDir = "coverage"
coverageThreshold = { line = 100, branch = 100, function = 100, statement = 100 }
coverageReporters = ["text", "lcov", "html"]
preload = ["./tests/setup.ts"]
bail = true
